
    <div id="follow_form">
        <% if @followed.nil? %>
            <%= link_to 'follow', follow_lightnovel_path %>
        <% else %>
            <%= link_to 'unfollow', unfollow_lightnovel_path %>            
        <% end %>
    </div>
