<div class = "container">
	<div class = "text-center">
		<%if notice %>
			<div class="alert alert-info" role="alert">
				<a class="notice"><%= notice %></a>
			</div>
		<% end %>
		<%if alert %>
			<div class="alert alert-info" role="alert">
				<a class="alert"><%= alert %></a>
			</div>
		<% end %>
	</div>
</div>