<div id = "button_5_px">
	<% if user_signed_in? %>
	    <div id = "user_sign_status"><%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => 'btn btn-sm btn-default' %><div/>
	<% else %>
	  <div id = "user_sign_status">
	    <%= link_to "Sign in", new_user_session_path, :class => "btn btn-sm btn-success" %> <%= link_to "Sign up", new_user_registration_path, :class => "btn btn-sm btn-success" %></div>
	<% end %>
</div>